.btn-primary{
    background-color: #615EFC !important;
}
.text-primary{
    color: #615EFC !important;
}

.solitreo-regular {
    font-family: "Solitreo", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  